.body{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    
        .Fundo{
            background-color: #07bc0c;
            height: 100%;
        }
}